main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
